<%= form_for @katalog, html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :nazwa, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :nazwa, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :opis, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :opis, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :url, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :url, class: 'text_field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit 'Wyślij', class: 'btn btn-primary' %>
      <%= link_to t('.cancel', default: t("Anuluj")),
                  katalogs_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
